@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Hello and thank you for shopping at Jalisa's Plant Shop. I hope you can find everything you need and want. If not you are the customer and we are eager to please, so you can always add a request. If we don't have it we'll be happy to find what you need. </p>
