@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>Hello and thank you for shopping at Specialty's Plant Shop. I hope you can find everything you need and want, if not you are the customer and we are eager to please. With that being said, we made a way for you to add a request. If we don't have it we'll be happy to get you what you want or need. </p>
